input[type="text"],input[password="password"]{
     width: 20%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
   border: 2px solid rgba(243, 192, 192, 0.089);
  border-radius: 8px;
}
input[password="password"]{
    width:20%;
    padding:12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid rgba(243, 192, 192, 0.089);
    border-radius: 8px;

}
button{
    background-color: blue;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius: 8px;
    width: 20%;
}
section.sec1{
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 20px;
}
section.sec2{
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}
