* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

input[type="text"]{
  width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid rgba(243, 192, 192, 0.089);
    border-radius: 8px;
}

input[type="password"] {
   width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid rgba(243, 192, 192, 0.089);
    border-radius: 8px;
}


button:hover {
    background-color: #e7e7e7;
    color: black;
    cursor: pointer;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: rgb(0, 77, 243);
    color: white;
    padding: 12px 28px;
    margin: 10px 0;
    border: 2px solid rgb(99, 99, 106);
    border-radius: 10px;
   width: 100%;
}

section.sec1 {
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 20px;
}

section.sec2 {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}
section.container{
    width: 50%;
    margin:auto;
    padding: 20px;
    display: flex;
    border: #e7e7e7 solid 2px;
  justify-content: center;
  gap: 20px;

}
a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    display: flex;
}
h1{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 14px;
}
